.header {
  text-align: center;
  color: #000000;
  height: 60;
  padding-inline: 48;
  line-height: 64px;
  border-bottom: solid 1px;
  border-radius: 1px;
  border-color: black;
  background-color: #ffffff;
  margin-bottom: 10px;
}
